body {
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
    height: 4em;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    height: 3em;
    width: 20em;
    padding-left: auto;
}

.nav-bar li {
    list-style-type: none;
}

.image-center {
    height:20em;
    background: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-text {
    display: flex;
    padding: 2em;
}

